html,
body {
    max-width: 100%;
    overflow: hidden;
    font-family: "Inter", sans-serif;
}

body {
    background-image: linear-gradient(
        0deg,
        rgba(
                75.34896120429039,
                88.45313563942909,
                157.25000202655792,
                1
            )
            0%,
        rgba(
                199.4132235646248,
                104.70937013626099,
                232.68750607967377,
                1
            )
            100%
    );
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    width: 30%;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    background-repeat: no-repeat;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 57px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.bar_link {
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: white;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
