:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

/*.shine {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    overflow: hidden;*/
/*}*/

/*.shine::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 200%;*/
/*    height: 200%;*/
/*    background: linear-gradient(45deg, transparent 40%, rgba(255, 255, 255, .8) 50%, transparent 60%);*/
/*    animation: shineAnimation 2s linear infinite;*/

/*}*/
/*@keyframes shineAnimation {*/
/*    0% {*/
/*        transform: translateX(-100%);*/
/*    }*/
/*    100% {*/
/*        transform: translateX(100%);*/
/*    }*/
/*}*/

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    width: 100%;
    min-width: 400px;
    padding: 10px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25em;

    color: #000;
    font-family: Inter, serif;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 100%;
}


.header-svg {
    display: flex;
    height: 75px;
}

.f-block {
    display: flex;
    padding: 0 2em;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    flex: 1 0 0;
    align-self: stretch;
    gap: 2em;
    flex-wrap: wrap;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    gap: 2em;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25em;
    align-self: stretch;
}

.links-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .8em;
}

.links {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 1.5em;

}

.link {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
    transition: all 0.2s ease-in-out;
}

.y-color:hover {
    background-color: #FF7272;
}

.i-color:hover{
    background-color: #FF9F72;
}

.b-color:hover {
    background-color: #74A6FF;
}

.v-color:hover {
    background-color: #4A67FC;
}

.g-color:hover {
    background-color: #CA74EE;
}

.n-color:hover {
    background-color: #F9EECA;
}

.u-color:hover {
    background-color: #B3B3B3;
}

.t-color:hover{
    background-color: #039BE5;
}

.ch-color:hover{
    background-color: #9EAEFD;
}

.e-color:hover{
    background-color: #5DAE64;
}

.feature-project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25em;
    min-width: 30%;
}

.project-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.pic-bloc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    height: 200px;
}

.pic-bloc img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.2s ease-in-out;
    filter: grayscale(1);
}

.pic-bloc:hover img {
    filter: none;
}

p, h1, h2, .about-text, link, footer {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 550;
    line-height: 1.5;
}

li{
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
}

h3 {
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.s-block {
    display: flex;
    padding: 0 2em;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25em;
    align-self: stretch;
}

.exp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25em;
}

.text-exp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5em;
    align-self: stretch;
}

ul {
    gap: 1.25em;
    list-style-position: inside
}