html,body{
  max-width:100%;
  overflow:hidden;
  }

body {
  background: linear-gradient(-30deg, #2E9AFF, #F498AD);
  height: 100vh;
  font-family: "Montserrat", sans-serif; 
}

.content{
  min-height: 100vh;
  height: 100vh;
}

.maincard{
  display: flex;
  flex-direction: row;
  padding: 2em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 60%;
}

.container1{
  margin: 0.5em;
  min-width: 40%;
  display: flex;
  justify-content: right;
}

.container2{
  margin: 0.5em;
  min-width: 60%;
  display: flex;
  justify-content: center;
}

.Name{
  color: #fff;
  font-size: 1.5em;
  text-align: right;
}

.links{
  display: flex;
  flex-flow: row wrap;
  text-align:left;
}

button{
  margin: 0.15em;
  border: 0.125em solid #fff;
  background-color: transparent;
  border-radius: 1em;
  font-size: 1.75em;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

button:hover{
  background-image: linear-gradient(-30deg, #2E9AFF, #F498AD);    
	-webkit-background-clip: text;
	background-clip: text;

  background-color: #fff;
  transition: all 0.2s ease-in-out;
}



footer{
  color: #fff;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3em;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
a:hover {
  text-decoration: underline;
  border-bottom: 4px rgb(255, 255, 255);
  transition: all 0.5s ease-in-out;
}
a:visited {
  text-decoration: none;
  color: #fff;
  transition: all 0.5s ease-in-out;
}